.Topics-list {
  padding-left: 0.5rem;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}
.Topics {
  display: flex;
  justify-content: flex-end;
  margin-left: 5px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .wrapper div:first-child {
    order: 1;
  }
  .wrapper div:last-child {
    order: 2;
  }
  .wrapper div:nth-child(2) {
    order: 3;
  }
}
